<footer>
<h1>現在時刻：<span id="real-time"></span> </h1>
</footer>

  <script type="text/javascript">
function Time() {
  const realTime = new Date();
  const month= realTime.getMonth();
  const day= realTime.getDate();
  const hour = realTime.getHours();
  const minutes  = realTime.getMinutes();
  const text =month + "月" + day + "日" + hour + "時" + minutes + "分です";
  document.getElementById("real-time").innerHTML = text;
}
setInterval('Time()',1000);
  </script>