body {
  margin: 0px;
}
header {
  padding: 10px;
  background-color: #3f0;
  width: 100%;
}
h1 {
  color: #ffffff;
  background-color: #3f0;
}
th {
  background-color: #9ff;
}
.column {
  width: 200px;
  height: 50px;
}
.ßintroduction {
  width: 200px;
  background-color: #9ff;
  height: 250px;
}
.command {
  width: 300px;
}
td {
  text-align: center;
}
.btn-new {
  margin-top: 20px;
  color: #fff;
  background-color: #ff0000;
  border-radius: 10vh;
  padding: 5px 10px;
  border: 2px solid #dd0000;
}
.footer-container {
  background-color: #3f0;
}
.notice {
  background-color: #ccf;
  padding: 5px;
}
